body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-size: unset;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.ymaps-2-1-79-map ymaps:nth-child(1) {
  border-radius: 15px !important;
}

.g-root_theme_dark {
  background-image: linear-gradient(rgba(34, 29, 34, .85), rgba(34, 29, 34, 1)), url('./static/images/deers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.g-root_theme_light {
  background-image: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, 1)), url('./static/images/deers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
.g-root_theme_dark {
  background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url('../src/static/images/deer-dark.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.g-root_theme_light {
  background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url('../src/static/images/deer-light.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
} */